@media screen and (max-width:1100px)  {
    .section-feedback{
        display: block;
    }
    .card-feedback{
        padding-top: 10px;
    }
   
}
@media screen and (max-width:975px){
    .first-section{
        display: block;
    }
    .wraaper-review{
        width: 500px;
        align-items: flex-start;
    }
}
@media screen and (max-width:600px){
    .first-section{
        padding-left: 35px ;
    }
    .wraaper-review{
        width: 420px;
    }
    .reviews{
        display: block;
        width: 300px;
        height: 70px;
        border-radius: 10px; 
    }
    .mobile-icon{
        margin-left: 60px;
        margin-bottom: 10px;
    }
    .text-reviews{
        margin-left: 20px;
    }
    

}
@media screen and (max-width:375px){

    .section-feedback{
        padding: 10px 10px 10px 20px;
    }
    .title{
        width: 300px;
        height: inherit;
    }
    .title p{
        text-align: center;
    }
    .wraaper-review{
        width: 300px;
    }
    .reviews{
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}